example_sp_dc - Copy.txt
example_sp_key - Copy.txt
example_speaker_loc - Copy.txt
real_sp_dc - Copy.txt
real_sp_key - Copy.txt
real_speaker_loc - Copy.txt
Creation Setup.txt
googlevinylemulator/__pycache__/cast_player.cpython-37.pyc
